<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %>
    <main>
      <h1>Page not found!</h1>
      <p>
        페이지를 찾을수 없습니다
      </p>
      <p>
        You don't need to sign up or create any account - you can simply start
        sharing right away!
      </p>
    </main>
  </body>
</html>
