<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %>
    <main>
      <h1>500 error</h1>
      <p>
        서버쪽 오류 개발자에게 문의하세요
      </p>
      <p>
        You don't need to sign up or create any account - you can simply start
        sharing right away!
      </p>
    </main>
  </body>
</html>
